<ion-tabs class="tabs-striped tabs-top tabs-color-calm">
    <ion-tab title="Timeline" icon-on="ion-social-twitter" icon-off="ion-social-twitter-outline" ui-sref="tabs.tweets">
        <ion-nav-view name="tweets-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Notifications" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline" ui-sref="tabs.notifications">
        <ion-nav-view name="notifications-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Profil" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.profil">
        <ion-nav-view name="profil-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
